# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=ETu1YLCnZyeeWBYYLSFXLNncJa4AgaHaZQ8JSUxTEosJ
COSIGNER_KEYPAIR_PATH=./keys/cosigner.json

# Sensor Simulator
SENSOR_KEYPAIR_PATH=./keys/sensor.json

# Server
PORT=3001
CORS_ORIGIN=http://localhost:3000
